SIFT/__pycache__/scale_angle_rotation.cpython-312.pyc
test.ipynb
SIFT/__pycache__/get_patch.cpython-312.pyc
Transformer/__pycache__/embedding.cpython-312.pyc
transformer/SIFT/__pycache__/get_patch.cpython-312.pyc
